#btn-danger{
    position: absolute; // position absolute para que no se vea el boton
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
}