<div [formGroup]="form">
    <ion-item>
        <ion-label>
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Nombre" type="text" formControlName="name"></ion-input>
        <div>
            <ion-text color="danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                <p>El nombre es requerido</p>
            </ion-text>
        </div>
    </ion-item>
    <ion-item>
        <ion-label>
            <ion-icon name="people-circle-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Apelldidos" type="text" formControlName="apellidos"></ion-input>
        <div>
            <ion-text color="danger"
                *ngIf="form.get('apellidos').hasError('required') && form.get('apellidos').touched">
                <p>Los apellidos son requeridos</p>
            </ion-text>
        </div>
    </ion-item>
    <ion-item>
        <ion-label>
            <ion-icon name="keypad-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Edad" type="number" formControlName="edad"></ion-input>
        <div>
            <ion-text color="danger" *ngIf="form.get('edad').hasError('required') && form.get('edad').touched">
                <p>La edad es requerida</p>
            </ion-text>
        </div>
    </ion-item>
    <ion-item>
        <ion-label>
            <ion-icon name="mail-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Correo" formControlName="email"></ion-input>
        <div>
            <ion-text color="danger" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
                <p>El correo es requerido</p>
            </ion-text>
        </div>
    </ion-item>
    <ion-item>
        <ion-select placeholder="Selecione Su rol" formControlName="rol"> 
            <ion-select-option value="1">Admin</ion-select-option>
            <ion-select-option value="2">Operador</ion-select-option>
            <ion-select-option value="3">Turista</ion-select-option>
        </ion-select>
    </ion-item>


    <section>
        <ion-button id="button-loggin" expand="block" (click)="onSave()">Crear</ion-button>
    </section>
</div>