<ion-header>
    <ion-toolbar>
        <ion-title>Bienvenido Admin</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 id="titleadmin">Usuarios</h2>
    <ion-fab vertical="top" horizontal="end" edge slot="fixed" (click)="newUsuario()">
        <ion-fab-button>
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="inicio()">
        <ion-fab-button>
            <ion-icon name="arrow-back-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- componete -->
    <app-usuario-list>
    </app-usuario-list>
</ion-content>